---
import BingoBoard from '../components/BingoBoard'
---

<html lang="en">
  <head>
    <title>Midsomer Bingo!</title>
  </head>
  <body>
    <h1>Midsomer Bingo</h1>
    <BingoBoard client:load />
  </body>
  <style>
    {`
      h1 {
        text-align: center;
      }
    `}
  </style>
</html>
